a {
    color: #1199e1;
    font-size: 1.5rem;
    margin: 0.625rem;
    text-decoration: none;
}

a:hover{
    color: #EAF6F6;
}

body {
    margin: 0px;
    text-align: center;
    font-family: 'Merriweather', serif;
    color: #40514E;
    
}

.birds{
    width: 50%;
    
}

.bottom-container {
    background-color: #66BFBF;
    margin: 3.125rem auto 0.313rem;
    padding: 3.125rem 0 .025rem;
}

.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #1199e1);
    background-image: -moz-linear-gradient(top, #11cdd4, #1199e1);
    background-image: -ms-linear-gradient(top, #11cdd4, #1199e1);
    background-image: -o-linear-gradient(top, #11cdd4, #1199e1);
    background-image: linear-gradient(to bottom, #11cdd4, #1199e1);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Merriweather', serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
}


.c1 {
    position: absolute;
    right: 18.75rem;
    top: 2.5rem;
}

.c2 {
    position: absolute;
    left: 15.625rem;
    bottom: 18.75;
}

.coding-skill {
    width: 25%;
    height: auto;
    float: left;
    margin-right: 1.875rem;
}

.contact-message {
    width: 30%;
    margin: 2.5rem auto 3.75rem;
}

.COPYRIGHT{
    color: rgb(14, 2, 2);
    font-size: 1rem;
}


.footer-link {
    text-decoration-color: #11999E;
}


h1 {
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem;
    color: #66BFBF;
}


h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
    color: #66BFBF;
    line-height: 0.125rem;
    padding-bottom: 0.625rem;
}


h3 {
    font-family: 'Montserrat', sans-serif;
    color: #11999E;

}


hr {
    border: dotted #EAF6F6 0.625rem;
    border-bottom: none;
    width: 5%;
}


.intro {
    width: 30%;
    margin: auto;
}

.middle-container {
    margin: 6.25rem, 0;
    
}


p {
    color: #40514E;
    line-height: 1;
    font-size: 1.5rem;
    
}

span {
    text-decoration: underline;
}


.skill-row {
    width: 50%;
    margin: 6.25rem auto 6.25rem auto;
    text-align: left;
}

.top-container {
    background-color: #D7E9B9;
    padding-top: 3.125rem;
    position: relative;
}

.webd-skill {
    width: 25%;
    float: right;
    margin-left: 1.875rem;
}




